<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
<div class="container mb-4">
        <div class="col-12" th:if="${ordersList.size() > 0}">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Balloon color</th>
                        <th scope="col">Balloon size</th>
                        <th scope="col">Order id</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${ordersList}">
                        <td th:text="${order.getBalloonColor()}"></td>
                        <td th:text="${order.getBalloonSize()}"></td>
                        <td>
                            <form th:action="@{'/shopping-cart/add-product/{id}' (id=${order.getId()})}" th:method="POST">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-trash">Add product to cart</i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>